<%= form_with(model: post, local: true) do |form| %>
  <div class="weight-bold-text">
    科目
    <span class="indispensable">必須</span>
  </div>
  <%= form.collection_select(:subject_id, Subject.all, :id, :name, {}, {class:"post-subject"}) %>

  <%= form.text_area :question_text, placeholder: "問題", rows: "10" %>
  <%= form.text_field :question_image, placeholder: "問題画像 Url" %>
  <%= form.text_area :answer_text, placeholder: "解答", rows: "10" %>
  <%= form.text_field :answer_image, placeholder: "解答画像 Url" %>
  <%= form.submit "SEND" %>
<% end %>