<%= form_with model: post, id: 'new_post', local: true do |f| %>
  <div class="weight-bold-text">
    科目
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:subject_id, Subject.all, :id, :name, {}, {class:"post-subject"}) %>

  <%= f.text_area :question_text, placeholder: "問題", rows: "10" %>
  <div class="image-field">
    <div id="previews_q"></div>
    <div class="click-upload">
      <%= f.file_field :question_image %>
    </div>
  </div>
  <%= f.text_area :answer_text, placeholder: "解答", rows: "10" %>
  <div class="image-field">
    <div id="previews_a"></div>
    <div class="click-upload">
      <%= f.file_field :answer_image %>
    </div>
  </div>
  <%= f.submit "SEND" %>
<% end %>