<div class="content_post">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', post_path(post.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == post.user_id %>
        <li>
          <%= link_to '編集', edit_post_path(post.id), method: :get%>
        </li>
        <li>
          <%= link_to '削除', post_path(post.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="upper-message">
    <div class="message-user">
      <a href="/users/<%= post.user.id %>">
        <%= post.user.nickname %>
    </div>

    <div class="message-date">
      <%= l post.created_at %>
    </div>
  </div>

  <div class="lower-message">
    <div class="message-content">
      <%= post.question_text %>
    </div>
    <%= image_tag post.question_image.variant(resize: '200x200'), class: 'question-image' if post.question_image.attached? %>

    <div class="message-content">
      <%= post.answer_text %>
    </div>
    <%= image_tag post.answer_image.variant(resize: '200x200'), class: 'answer-image' if post.answer_image.attached? %>
  </div>

</div>